{% extends 'base.html' %}
{% block title %}Detail event{% endblock %}
{% block content %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<div class="main-content" >
    <div class="form-basic">
       <div class="bg-dark form-title-row">
           <h2 class="text-center text-white">Event</h2>
       </div>
       {% if form.non_field_errors %}
       <div class="alert alert-danger" role="alert">
           {% for error in form.non_field_errors %}
           {{ error }}
           {% endfor %}
       </div>
       {% endif %}
       <form method="post"  id="regular">
           {% csrf_token %}
           <div class="form-group row">
               <label for="{{form.place.id_for_label}}" class="col-form-label col-sm-4">
                   {{ form.place.label }}
               </label>
               <div class="col-sm-1">
                   {{ form.place }}
               </div>
           </div>
           <div class="form-row">
               <input type="submit" style="color: white; margin: 0 auto" class="btn btn-primary" value="Save" />
           </div>
       </form>
    </div>
</div>
{% endblock %}