{% extends 'base.html' %}
{% block title %}New event{% endblock %}
{% block content %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<div class="main-content" >
    <div class="form-basic">
        <div class="bg-dark form-title-row">
            <h2 class="text-center text-white">New Event</h2>
        </div>
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        <a href="{% url 'new_task' %}">Create new task</a>
        <div style="margin: 20px"/>
        <form method="post"  id="regular" action="{% url 'new_event' %}">
            {% csrf_token %}
            <div class="form-group row" id="select_exist_task">
                <label for="{{form.template_task_id.id_for_label}}" class="col-form-label col-sm-4">
                    {{ form.template_task_id.label }}
                </label>
                <div class="col-sm-1">
                    {{form.template_task_id}}
                </div>
            </div>
            <div class="form-group row">
                <label for="{{form.interval.id_for_label}}" class="col-form-label col-sm-4">
                    {{ form.place.label }}
                </label>
                <div class="col-sm-1">
                    {{form.place}}
                </div>
            </div>
            <div class="form-row">
                <input type="submit" style="color: white; margin: 0 auto" class="btn btn-primary" value="Save" id="save_regular"/>
            </div>
        </form>
    </div>
</div>
<script>
 $(document).ready(function () {
    $('input[type=radio][name=radio]').click(function() {
        if (this.checked){
            if (this.id == 'select_radio') {
                 $('#id_template_task_id').attr('required', true);
                 $('#id_begin').removeAttr('required');
                 $('#id_end').removeAttr('required');
                 $('#select_exist_task').removeAttr('hidden');
                 $('#create_new_task').attr('hidden', true);
            }
            else if (this.id == 'create_radio') {
                $('#id_template_task_id').removeAttr('required');
                $('#id_begin').attr('required', true);
                $('#id_end').attr('required', true);
                $('#create_new_task').removeAttr('hidden');
                $('#select_exist_task').attr('hidden', true);
            }
         }
    });
 });
</script>
{% endblock %}