{% extends 'base.html' %}
{% block title %}Regular tasks info{% endblock %}
{% block content %}
{% load tasks %}
{% load template_tasks %}
{% load regular_tasks %}

<form method="post" action="" id="all_regular_tasks_form">
    {% csrf_token %}
    <h2 class="heading text-center">All regular tasks</h2>
    <table class="table" id="dtBasicExample">
        <thead class="thead-dark">
        <tr>
            <th><input type="checkbox"></th>
            <th class="th-sm">Task</th>
            <th class="th-sm">Interval</th>
            <th class="th-sm">Updating date</th>
        </tr>
        </thead>
        <tbody>
            {% for regular in regulars %}
            <tr>
                <td><input type="checkbox" name="checkbox" id="{{regular.id}}"></td>
                <td>
                    <a href="{% url 'detail_task' regular.task_id %}">
                        {% get_template_task_title regular.task_id regular.user_id %}
                    </a>
                </td>
                <td>{% time_format regular.interval %}</td>
                <td>{{regular.updating_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
<script >
$(document).ready(function () {
    var table = $('#dtBasicExample').DataTable({
        'columnDefs': [{
                'targets': 0,
                'checkboxes': {
                   'selectRow': true
                    }
                }],
        'select': {
                'style': 'multi'
                },
        'dom': '<"toolbar">frtip',
        'order': [[1, 'asc']]
    });
    $("div.toolbar").html('<a href="{% url "new_regular_task" %}"  class="btn btn-primary">New</a> <input type="submit" class="btn btn-dark" id="edit" name="_edit" disabled value="Edit"/> <input type="submit" class="btn btn-danger" id="delete" name="_delete" disabled value="Delete"/> ');
    $('#dtBasicExample tbody input[type="checkbox"]').change(function() {
        var count = $('#dtBasicExample tbody :input[type="checkbox"]:checked').length;
        if (this.checked){
            var data = table.row($(this).closest('tr')).data()[0];
            this.name="checkbox";
            var temp=data.split('id="')[1];
            this.value=temp.split('"')[0];
        }
        if (count > 0) {
            $('#delete').removeAttr('disabled');
            if (count == 1) {
                $('#edit').removeAttr('disabled');
            }
            else {
                 $('#edit').attr('disabled', true);
            }
        }
        else {
            $('#delete').attr('disabled', true);
            $('#edit').attr('disabled', true);
        }
    });

});
</script>
{% endblock %}