{% extends 'base.html' %}
{% block title %}Detail regular task{% endblock %}
{% block content %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<div class="main-content" >
    <div class="form-basic">
        <div class="bg-dark form-title-row">
            <h2 class="text-center text-white">Regular Task</h2>
        </div>
        {% if regular_form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in regular_form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        <form method="post"  id="regular">
            {% csrf_token %}
            <div class="form-group row">
                <label for="{{regular_form.interval.id_for_label}}" class="col-form-label col-sm-4">
                    {{ regular_form.interval.label }}
                </label>
                <div class="col-sm-1">
                    {{ regular_form.interval }}
                </div>
            </div>
            <div class="form-row">
                <input type="submit" style="color: white; margin: 0 auto" class="btn btn-primary" value="Save" />
            </div>
        </form>
    </div>
</div>
{% endblock %}