{% extends 'base.html' %}
{% block title %}Tags info{% endblock %}
{% block content %}
{% load tasks %}
{% load template_tasks %}

<form method="post" action="">
    {% csrf_token %}
    <h2 class="heading text-center">All tags</h2>
    <table class="table" id="dtBasicExample">
        <thead class="thead-dark">
        <tr>
            <th><input type="checkbox"></th>
            <th class="th-sm">Tag</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
        <tr>
            <td><input type="checkbox" name="checkbox" id="{{tag.id}}"></td>
            <td>
                <a href="{% url 'detail_tag' tag.id %}">{{tag.name}}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
<script >
$(document).ready(function () {
    var table = $('#dtBasicExample').DataTable({
        'columnDefs': [{
                'targets': 0,
                'checkboxes': {
                   'selectRow': true
                    }
                }],
        'select': {
                'style': 'multi'
                },
        'dom': '<"toolbar">frtip',
        'order': [[1, 'asc']]
    });
    $("div.toolbar").html('<a href="{% url "new_tag" %}"  class="btn btn-primary">New</a> <input type="submit" class="btn btn-dark" id="edit" name="_edit" disabled value="Edit"/> <input type="submit" class="btn btn-danger" id="delete" name="_delete" disabled value="Delete"/> ');
    $('#dtBasicExample tbody input[type="checkbox"]').change(function() {
        var count = $('#dtBasicExample tbody :input[type="checkbox"]:checked').length;
        if (this.checked){
            var data = table.row($(this).closest('tr')).data()[0];
            this.name="checkbox";
            var temp=data.split('id="')[1];
            this.value=temp.split('"')[0];
        }
        if (count > 0) {
            $('#delete').removeAttr('disabled');
            if (count == 1) {
                $('#edit').removeAttr('disabled');
            }
            else {
                 $('#edit').attr('disabled', true);
            }
        }
        else {
            $('#delete').attr('disabled', true);
            $('#edit').attr('disabled', true);
        }
    });
});
</script>
{% endblock %}