{% extends 'base.html' %}
{% block title %}Details{% endblock %}
{% block content %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<div class="main-content" >
    <form method="post" class="form-basic">
        <div class="bg-dark form-title-row">
            <h2 class="text-center text-white">New Tag</h2>
        </div>
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% for field in form.visible_fields %}
        <div class="form-group row">
           <label for="{{field.id_for_label}}" class="col-form-label col-sm-4">
               {{ field.label }}
           </label>
           <div class="col-sm-1">
               {{field}}
           </div>
        </div>
        {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
        {% endfor %}
        <div class="form-row">
            <input type="submit" style="color: white; margin: 0 auto" class="btn btn-primary" value="Save" />
        </div>
    </form>
</div>
{% endblock %}