{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<div class="normalPadding">
    <div class="card text-center mx-auto"  style="width: 25rem;">
        <div class="card-body">
            <form class="form-signin" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <h1 class="h3 mb-4 font-weight-normal">Login</h1>
                <div style="padding: 10px 30px">
                    <label for="{{ form.make.auto_id }}" class="sr-only">Username</label>
                    {% render_field form.username class+="form-control" placeholder="Username"%}
                </div>
                <div style="padding: 10px 30px 40px 30px">
                    <label for="{{ form.make.auto_id }}" class="sr-only">Password</label>
                    {% render_field form.password class+="form-control" placeholder="Password"%}
                </div>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log In" class="btn btn-default" onclick="loginBut()"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}