{% extends "base.html"  %}
{% block title %}Sign Up{% endblock %}
{% load bootstrap4 %}
{% block content %}

<div class="normalPadding">
    <div class="card text-center mx-auto"  style="width: 25rem;">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <h1 class="h3 mb-4 font-weight-normal">Signup</h1>
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Sign up</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}