{% extends 'base.html' %}
{% block title %}Tasks info{% endblock %}
{% block content %}
{% load tasks %}

<div class="normalPadding">
    <form method="post" action="">
        {% csrf_token %}
        <h2 class="heading text-center">All tasks </h2>
        <table class="table" id="dtBasicExample">
            <thead class="thead-dark">
            <tr>
                <th><input type="checkbox"></th>
                <th class="th-sm">Title</th>
                <th class="th-sm">Note</th>
                <th class="th-sm">Parent</th>
                <th class="th-sm">Status</th>
                <th class="th-sm">Tag</th>
                <th class="th-sm">Priority</th>
                <th class="th-sm">Begin</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
            <tr>
                <td><input type="checkbox" name="checkbox" id="{{task.id}}"></td>
                <td>
                    <a href="{% url 'detail_task' task.id %}">{{task.title}}</a>
                </td>
                <td>{{task.note}}</td>
                {% if task.parent_id is not None %}
                <td>
                    <a href="{% url 'detail_task' task.parent_id %}">{% get_parent task.id task.user_id %}</a>
                </td>
                {% else %}
                <td>None</td>
                {% endif %}
                <td>
                   {% get_status task.status %}
                </td>
                <td>
                    {% get_tag task.id task.user_id %}
                </td>
                <td>
                    {% get_priority task.priority %}
                </td>
                <td>{{task.begin}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
<script >
$(document).ready(function () {
    var table = $('#dtBasicExample').DataTable({
        'columnDefs': [{
                'targets': 0,
                'checkboxes': {
                   'selectRow': true
                    }
                }],
        'select': {
                'style': 'multi'
                },
        'dom': '<"toolbar">frtip',
        'order': [[1, 'asc']]
    });
    $("div.toolbar").html('<a href="{% url "new_task" %}"  class="btn btn-primary">New</a> <input type="submit" class="btn btn-dark" id="edit" name="_edit" disabled value="Edit"/> <input type="submit" class="btn btn-danger" id="delete" name="_delete" disabled value="Delete"/> ');
    $('#dtBasicExample tbody input[type="checkbox"]').change(function() {
        var count = $('#dtBasicExample tbody :input[type="checkbox"]:checked').length;
        if (this.checked){
            var data = table.row($(this).closest('tr')).data()[0];
            this.name="checkbox";
            var temp=data.split('id="')[1];
            this.value=temp.split('"')[0];
        }
        if (count > 0) {
            $('#delete').removeAttr('disabled');
            if (count == 1) {
                $('#edit').removeAttr('disabled');
            }
            else {
                 $('#edit').attr('disabled', true);
            }
        }
        else {
            $('#delete').attr('disabled', true);
            $('#edit').attr('disabled', true);
        }
    });

});
</script>
{% endblock %}