<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base view{% endblock %}</title>
    {% load staticfiles %}
    {% load fontawesome %}
    {% fontawesome_stylesheet %}

    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/table.css'%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/LogIn.css'%}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/dataTables.checkboxes.css'%}">
    <link rel="stylesheet" href="{% static 'css/edit_task.css'%}">
    <link rel="stylesheet" href="{% static 'css/demo.css'%}">
    <link rel="stylesheet" href="{% static 'css/form-basic.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/table.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/dataTables.checkboxes.min.js' %}"></script>
    <script src="{% static 'js/edit_task.js' %}"></script>
    <script>
    $('select').selectpicker();
    </script>
    {{ form.media }}
</head>
<body>
{% include "header.html" %}
<main>
    <div class='container'>
        {% block content %}
        {% endblock %}
    </div>
</main>
</body>
</html>