{% block header %}
{% load fontawesome %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin: 0 0 40px 0">
    {% if user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'home' %}">MainTrack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a  class="nav-link" href="{% url 'all_tasks' %}">Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all_regular_tasks' %}">Regular tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all_events' %}">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all_tags' %}">Tags</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'help' %}">Help</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
    {% else %}
    <a class="navbar-brand" style="color: #fff">MainTrack</a>
    <div class="collapse navbar-collapse ">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a  class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="{% url 'signup' %}" >Signup</a>
            </li>
        </ul>
    </div>
{% endif %}
</nav>
{% endblock %}