{% extends 'base.html' %}
{% block title %}Help{% endblock %}
{% block content %}
{% load static %}

<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" id="bootstrap-css">
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<h2 class="heading text-center">MainTrack Help</h2>
<div id="accordion" role="tablist">
    <div class="card">
        <div class="card-header" id="task">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#task_body" aria-expanded="false" aria-controls="task_body">Task</a>
            </h5>
        </div>
        <div id="task_body" class="collapse" aria-labelledby="task" data-parent="#accordionExample">
            <div class="card-body">
                <span>
                    <h5 class="mb-0">
                        <a>1) Creation:</a>
                    </h5>
                    <img src="{% static 'images/tasks.png'%}" > ->
                    <img src="{% static 'images/new.png'%}" > ->
                    fill the form ->
                    <img src="{% static 'images/save.png'%}" >
                </span>
                <span>
                    <h5 class="mb-0">
                        <a>2) Editing:</a>
                    </h5>
                    <img src="{% static 'images/tasks.png'%}" > ->
                    <img src="{% static 'images/checkbox.png'%}" > and <img src="{% static 'images/edit.png'%}" >
                    or <img src="{% static 'images/link_enabled.png'%}" > ->
                    fill the form ->
                    <img src="{% static 'images/save_changes.png'%}" > or <img src="{% static 'images/delete.png'%}" >
                </span>
                <span>
                    <h5 class="mb-0">
                        <a>3) Deleting:</a>
                    </h5>
                    <img src="{% static 'images/tasks.png'%}" > ->
                    <img src="{% static 'images/checkbox.png'%}" > ->
                    <img src="{% static 'images/delete.png'%}" >
                </span>
                <span>
                    <h5 class="mb-0">
                        <a>4) Search:</a>
                    </h5>
                    <img src="{% static 'images/search.png'%}" > ->
                    enter any parameter
                </span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="regular_task">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#regular_task_body" aria-expanded="false" aria-controls="regular_task_body">Regular Task</a>
            </h5>
        </div>
        <div id="regular_task_body" class="collapse" aria-labelledby="regular_task" data-parent="#accordionExample">
            <div class="card-body">
                <span>
                    <h5 class="mb-0">
                        <a>1) Creation:</a>
                    </h5>
                    <img src="{% static 'images/regular_tasks.png'%}" > ->
                    <img src="{% static 'images/new.png'%}" > ->
                    select existing task or <img src="{% static 'images/create_new_task.png'%}" > ->
                    fill the form ->
                    <img src="{% static 'images/save.png'%}" >
                </span>
                <span>
                    <h5 class="mb-0">
                        <a>2) Editing:</a>
                    </h5>
                    <img src="{% static 'images/regular_tasks.png'%}" > ->
                    <img src="{% static 'images/checkbox.png'%}" >  and <img src="{% static 'images/edit.png'%}" >
                    or <img src="{% static 'images/link_enabled.png'%}" > to edit task ->
                    fill the form ->
                    <img src="{% static 'images/save_changes.png'%}" > or <img src="{% static 'images/delete.png'%}" >
                </span>
                <span>
                    <h5 class="mb-0">
                        <a>3) Deleting:</a>
                    </h5>
                    <img src="{% static 'images/regular_tasks.png'%}" > ->
                    <img src="{% static 'images/checkbox.png'%}" > ->
                    <img src="{% static 'images/delete.png'%}" >
                </span>
                <span>
                    <h5 class="mb-0">
                        <a>4) Search:</a>
                    </h5>
                    <img src="{% static 'images/search.png'%}" > ->
                    enter any parameter
                </span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="event">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#event_body" aria-expanded="false" aria-controls="event_body">Event</a>
            </h5>
        </div>
        <div id="event_body" class="collapse" aria-labelledby="event" data-parent="#accordionExample">
            <div class="card-body">
                <span>
                    <h5 class="mb-0">
                        <a>1) Creation:</a>
                    </h5>
                    <img src="{% static 'images/events.png'%}" > ->
                    <img src="{% static 'images/new.png'%}" > ->
                    select existing task or <img src="{% static 'images/create_new_task.png'%}" > ->
                    fill the form ->
                    <img src="{% static 'images/save.png'%}" >
                </span>
                <span>
                    <h5 class="mb-0">
                        <a>2) Editing:</a>
                    </h5>
                    <img src="{% static 'images/events.png'%}" > ->
                    <img src="{% static 'images/checkbox.png'%}" >  and <img src="{% static 'images/edit.png'%}" >
                    or <img src="{% static 'images/link_enabled.png'%}" > to edit task ->
                    fill the form ->
                    <img src="{% static 'images/save_changes.png'%}" > or <img src="{% static 'images/delete.png'%}" >
                </span>
                <span>
                    <h5 class="mb-0">
                        <a>3) Deleting:</a>
                    </h5>
                    <img src="{% static 'images/events.png'%}" > ->
                    <img src="{% static 'images/checkbox.png'%}" > ->
                    <img src="{% static 'images/delete.png'%}" >
                </span>
                <span>
                    <h5 class="mb-0">
                        <a>4) Search:</a>
                    </h5>
                    <img src="{% static 'images/search.png'%}" > ->
                    enter any parameter
                </span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="tag">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#tag_body" aria-expanded="false" aria-controls="tag_body">Tag</a>
            </h5>
        </div>
        <div id="tag_body" class="collapse" aria-labelledby="event" data-parent="#accordionExample">
            <div class="card-body">
                <span>
                    <h5 class="mb-0">
                        <a>1) Creation:</a>
                    </h5>
                    <img src="{% static 'images/tags.png'%}" > ->
                    <img src="{% static 'images/new.png'%}" > ->
                    fill the form ->
                    <img src="{% static 'images/save.png'%}" >
                </span>
                <span>
                    <h5 class="mb-0">
                        <a>2) Editing:</a>
                    </h5>
                    <img src="{% static 'images/tags.png'%}" > ->
                    <img src="{% static 'images/checkbox.png'%}" >  and <img src="{% static 'images/edit.png'%}" >
                    or <img src="{% static 'images/link_enabled.png'%}" > to edit tag ->
                    fill the form ->
                    <img src="{% static 'images/save_changes.png'%}" >
                </span>
                <span>
                    <h5 class="mb-0">
                        <a>3) Deleting:</a>
                    </h5>
                    <img src="{% static 'images/tags.png'%}" > ->
                    <img src="{% static 'images/checkbox.png'%}" > ->
                    <img src="{% static 'images/delete.png'%}" >
                </span>
                <span>
                    <h5 class="mb-0">
                        <a>4) Search:</a>
                    </h5>
                    <img src="{% static 'images/search.png'%}" > ->
                    enter any parameter
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}