{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<form method="post" action="">
    {% csrf_token %}
    <div>
        <h2 class="heading text-center" style="float:left; margin: 0 0 10px 0">Today:</h2>
        <span id="datetime" style="float:right; height: 15px"></span>
    </div>
    <table class="table" id="dtBasicExample">
        <thead class="thead-dark">
        <tr>
            <th class="th-sm">Title</th>
            <th class="th-sm">Begin</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td>{{task.begin}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = (("0"+dt.getDate()).slice(-2)) +"."+
(("0"+(dt.getMonth()+1)).slice(-2)) +"."+ (dt.getFullYear()) +" "+
(("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));
</script>
{% endblock %}